{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Realtime Medical Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="header">
        <h1>Realtime Medical Dashboard</h1>
    </div>
    <div class="content">
        <form method="get" action="">
            <select name="letter" class="dropdown">
                <option value="">Wybierz literę</option>
                {% for letter in letters %}
                <option value="{{ letter }}" {% if letter == selected_letter %}selected{% endif %}>{{ letter }}</option>
                {% endfor %}
            </select>
            <button type="submit">Pokaż dane</button>
        </form>
        <div class="data-container">
            <div class="charts">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="text">
                {% if entries %}
                    <ul>
                        {% for entry in entries %}
                            <li>ID: {{ entry.id }}, Wartość: {{ entry.value }}, Kolor: {{ entry.color }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No data available.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var entries = {{ entries|safe }};
            var colors = entries.map(entry => entry.fields.color);
            var values = entries.map(entry => entry.fields.value);
            var labels = entries.map(entry => 'ID: ' + entry.pk);

            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values,
                        backgroundColor: colors,
                        borderColor: colors.map(() => '#ffffff'), // Białe obramowania
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return labels[tooltipItem.dataIndex] + ': ' + values[tooltipItem.dataIndex];
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
