{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>Realtime Medical Dashboard</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
  <h1>Realtime Medical Dashboard</h1>
</div>
<div class="content">
  <select class="dropdown">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
  </select>
  <div class="data-container">
    <div class="charts">
      <p>Tutaj będą wyświetlane wykresy...</p>
    </div>
    <div class="text">
      <p>Tutaj będzie wyświetlany tekst...</p>
    </div>
  </div>
</div>
</body>
</html> 
