body {
    background-color: beige;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chart-info-container {
    display: flex;
    justify-content: space-between;
}

.chart-container, .info-container {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: white;
}

.dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
